
header {
    /* background-color: brown; */
    height: 56px;
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-items .left-align {
    display: inline-flex;
}

.header-items ul {
    display: flex;
    padding: 20px;
}

.header-items li {
    font-size: 15px;
    line-height: 150%;
    font-weight: 600;
    transition: all 150ms;
    padding: 0 6px;
    align-items: center;
}

.header-items .left-align li {
    float: left;
}

.header-items .right-align li {
    float: right;
}

.header-items li a {
    position: relative;
    color: rgba(240, 240, 240, 0.7);
    font-size: 15px;
    line-height: 150%;
    padding: 4px;
    font-weight: 600;
    transition: all 150ms;
}

.header-items li.division {
    content: "";
    position: relative;
    top: 3px;
    width: 1px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    padding: 0;
    margin: 0 8px;
}


.btn-favorite-more {
    width:32px;
    height:32px;
    background: transparent;
    border-radius: 100px;
    right: 8px;
    top: 8px;
    color: white;
    font-size: 17px;

}

main {
    background-color: black;
    min-height: 500px;
}

.container {
    padding: 20px;
    display: flex;
    height: auto;
}

.banner {
    min-height: 200px;
    background-color: Gray;
    width:100%;
    position: relative;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -360px;
}

.categories {
    background-color: black;
    min-width: 288px;
    padding: 45px 60px;
}


.thumbnail-image img {
    width: 30px;
    height: 24px;
    padding-bottom: 6px;
}

.heart:before {
    content: "❤️";
    font-size: 18px;
}

.search:before {
    content: "🔍";
    font-size: 18px;
}

.bell:before {
    content: "🔔";
    font-size: 18px;
}

.favorite-category {
    margin-right: 20px;
}

.category-first .first {
    vertical-align: center;
    color: white;
    border-radius: 20px;
    width: 240px;
    font-size: 17px;
    padding: 10px;
    background-color: black;
    margin-top: 5px;
}

.first span {
    padding: 3px;
}

.first span.icon {
    margin-right: 3px;
    background: transparent;
}

.category-first .first.active {
    background-color: #26272b;
}

.category-second li.second {
    color: grey;
    width: 160px;
    font-size: 15px;
    background-color: black;
    padding: 5px;
    margin-left: 30px;
    margin-top: 10px;
}

/* section list */
.list-wrapper {
    padding: 45px;
    width: 100%;
}

.list-header {
    font-size: 20px;
}

.list-item {
    max-width: 200px;
    padding: 20px;
}

.list-item img {
    max-width: 200px;
}

span.division {
    content: "";
    top: 3px;
    width: 1px;
    height: 14px;
    background-color: transparent;
    position: relative;
    padding: 0;
    margin: 0 8px;
}
